﻿@page "/auth/loginblazor"

<h1>Login Blazor</h1>

@if (SuccessMessage != null)
{
    <div class="alert alert-success">
        @SuccessMessage
    </div>
}

<Accelist.BlazorRAD.SmartForm TModel="LoginSmartFormModel" Model="Form" Validate="true" Grid="true"
                              OnValidSubmit="OnSubmit">
</Accelist.BlazorRAD.SmartForm>

@inherits ScopedServicesComponent
@code
{
    public string SuccessMessage { set; get; }
    public LoginSmartFormModel Form { set; get; } = new LoginSmartFormModel();

    public async Task OnSubmit()
    {
        
    }
}