﻿@page "/auth/logintraditional"

<h3>Login Traditional</h3>

@if (SuccessMessage != null)
{
    <div class="alert alert-success">
        @SuccessMessage
    </div>
}

<EditForm Model="Form" OnValidSubmit="OnSubmit">
    <FluentValidator></FluentValidator>
    <div class="form-group">
        <label for="Form.UserName">UserName</label>
        <InputText id="username" class="form-control" @bind-Value="Form.UserName"></InputText>
        <ValidationMessage For="() => Form.UserName"></ValidationMessage>
    </div>
    <div class="form-group">
        <label for="Form.Password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="Form.Password"></InputText>
        <ValidationMessage For="() => Form.Password"></ValidationMessage>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">
            Login
        </button>
    </div>
</EditForm>

@inherits ScopedServicesComponent
@code {
    public string SuccessMessage { set; get; }
    public string RoleDb { get; set; }
    public string Email { get; set; }
    public LoginTraditionalFormModel Form { set; get; } = new LoginTraditionalFormModel();

    public ClaimsPrincipal GenerateClaims()
    {
        var claims = new ClaimsIdentity(BlazorAppAuthenticationSchemes.Cookie);

        claims.AddClaim(new Claim(ClaimTypes.NameIdentifier, Form.UserName));
        claims.AddClaim(new Claim(ClaimTypes.Email, Email));
        claims.AddClaim(new Claim(ClaimTypes.Role, RoleDb));

        return new ClaimsPrincipal(claims);
    }

    public async Task OnSubmit()
    {
        //if (ClaimsPrincipal.Current.Identities.us User.Identity.IsAuthenticated)
        //    {
        //        return Redirect("~/");
        //    }
        //    if (ModelState.IsValid == false)
        //    {
        //        return Page();
        //    }
    }
}
