
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <Accelist.BlazorRAD.Challenge LoginPath="/login">
                    <NotAuthorized>
                        403 Error: You are forbidden from accessing this page!
                    </NotAuthorized>
                </Accelist.BlazorRAD.Challenge>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>404 Page Not Found</h1>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
