﻿@page "/product"

<h1>Product Header</h1>

<p>
    <a class="btn btn-success" href="/product/create" role="button">
    <i class="fas fa-plus-square"></i>
    Insert Product</a>
</p>

<Accelist.BlazorRAD.PagedTable TRow="ProductListItemViewModel" Query="GetQuery()">
    <PagedTableHeader>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th></th>
    </PagedTableHeader>
    <PagedTableRow>
        <td>@context.ProductId</td>
        <td>@context.ProductName</td>
        <td>@context.Price</td>
        <td>@context.Stock</td>
        
        <Accelist.BlazorRAD.TableMenuColumn>
            <a class="btn btn-primary btn-sm" href="/product/edit/@(context.ProductId)">
                <i class="fas fa-edit"></i>
                Edit
            </a>

            <a class="btn btn-danger btn-sm" href="/product/deleteTraditional/@(context.ProductId)">
                <i class="fas fa-times"></i>
                Delete
            </a>

            <a class="btn btn-secondary btn-sm" href="/product/detail/@(context.ProductId)">
                <i class="fas fa-desktop"></i>
                Detail
            </a>
        </Accelist.BlazorRAD.TableMenuColumn>
    </PagedTableRow>
</Accelist.BlazorRAD.PagedTable>

@*@attribute [Authorize(Roles = "Demo Administrator")]*@
@attribute [Authorize]
@inherits ScopedServicesComponent

@code {
    public IQueryable<ProductListItemViewModel> GetQuery()
    {
        return Service.DB.TbProduct
            .AsNoTracking()
            .OrderBy(Q => Q.ProductId)
            .Select(Q => new ProductListItemViewModel
            {
                ProductId = Q.ProductId,
                ProductName = Q.ProductName,
                Price = Q.Price,
                Stock = Q.Stock 
            });
    }
}
