﻿@page "/product/create"

<h1>Create New Product</h1>

@if (SuccessMessage != null)
{
    <div class="alert alert-success">
        @SuccessMessage
    </div>
}

<p>
    <a class="btn btn-success" href="/product" role="button">
        <i class="fas fa-backspace"></i>
        Return to index
    </a>
</p>

<Accelist.BlazorRAD.SmartForm TModel="ProductCreateFormModel" Model="Form" Validate="true" Grid="true"
                              OnValidSubmit="OnSubmit" SelectOptionMethods="SelectOptions">
</Accelist.BlazorRAD.SmartForm>


@attribute [Authorize]
@inherits ProductCreateBase
@code {

}
