﻿@page "/product/deleteTraditional/{ProductId:int}"

<h1>Delete Product</h1>
<h3>Do you really want to delete ?</h3>

@if (SuccessMessage != null)
{
    <div class="alert alert-success">
        @SuccessMessage
    </div>
}

@if (Ready)
{
    <fieldset disabled="@IsDisabled">
        <div class="form-group">
            <label for="prodId">Product Id</label>
            <input id="prodId" class="form-control" @bind="ProductId">
        </div>
        <div class="form-group">
            <label for="name">Product Name</label>
            <input id="name" class="form-control" @bind="Deleting.ProductName">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" class="form-control" @bind="Prices">
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input id="stock" class="form-control" @bind="Stocks">
        </div>
    </fieldset>

    <div class="form-group">
        <button class="btn btn-primary" @onclick="CheckUsage">
            Delete
        </button>
    </div>
}

@attribute [Authorize]
@inherits ScopedServicesComponent
@code {
    [Parameter] public int ProductId { set; get; }
    public bool IsDisabled { set; get; } = true;
    public bool Ready { set; get; } = false;
    public string SuccessMessage { set; get; }
    TbProduct Deleting { set; get; }
    public string Prices { get; set; }
    public string Stocks { get; set; }
    public string Id { get; set; } // U/ ProductId yg bertipe string

    protected override async Task OnInitializedAsync()
    {
        Deleting = await Service.DB.TbProduct
            .Where(Q => Q.ProductId == ProductId)
            .FirstOrDefaultAsync();

        Prices = Deleting.Price.ToString();
        Stocks = Deleting.Stock.ToString();
        Id = ProductId.ToString();

        Ready = true;
    }

    /// <summary>
    /// mengecek apakah produk tsb sedang digunakan oleh tabel lain (TbPurchase)
    /// </summary>
    /// <returns></returns>
    public async Task CheckUsage()
    {
        var check = await Service.DB.TbPurchase
            .Where(Q => Q.ProductId == ProductId)
            .FirstOrDefaultAsync();

        if (check != null)
        {
            SuccessMessage = "Produk sedang digunakan";
        }
        else
        {
            await DeleteProduct();
        }
    }

    public async Task DeleteProduct()
    {
        this.Service.DB.Remove(Deleting);
        await this.Service.DB.SaveChangesAsync();
        SuccessMessage = "Delete Succesfully";
    }
}

