﻿@page "/product/delete/{ProductId:int}"

@if (Ready)
{
    if (Deleting != null)
    {
        <h1>Delete Product Data</h1>
        <h3>Do you really want to delete ?</h3>

        <Accelist.BlazorRAD.SmartForm TModel="ProductDeleteFormModel" @bind-Model="Form" Grid="true"
                                      OnValidSubmit="OnSubmit" OnAfterSubmit="ResetForm">
        </Accelist.BlazorRAD.SmartForm>
    }
    else
    {
        <PageNotFound404></PageNotFound404>
    }
}
else
{
    <p>
        Loading...
    </p>
}

@inherits ScopedServicesComponent
@code {
    [Parameter] public int ProductId { set; get; }

    TbProduct Deleting { set; get; }

    bool Ready { set; get; } = false;

    ProductDeleteFormModel Form { set; get; } = new ProductDeleteFormModel();

    protected override async Task OnInitializedAsync()
    {
        Deleting = await Service.DB.TbProduct
            .Where(Q => Q.ProductId == ProductId)
            .FirstOrDefaultAsync();

        if (Deleting != null)
        {
            ResetForm();
        }
        Ready = true;
    }

    public async Task OnSubmit()
    {
        Deleting.ProductName = Form.ProductName;
        Deleting.Price = Form.Price;
        Deleting.Stock = Form.Stock;

        await Service.DB.SaveChangesAsync();
    }

    public void ResetForm()
    {
        Form = new ProductDeleteFormModel
        {
            ProductId = Deleting.ProductId,
            ProductName = Deleting.ProductName,
            Price = Deleting.Price,
            Stock = Deleting.Stock
        };
    }
}
