﻿@page "/product/edit/{ProductId:int}"

@if (Ready)
{
    if (Editing != null)
    {
        <h1>Edit Product Data</h1>

        <Accelist.BlazorRAD.SmartForm TModel="ProductEditFormModel" @bind-Model="Form" Validate="true" Grid="true"
                                      OnValidSubmit="OnSubmit" SelectOptionMethods="SelectOptions">
        </Accelist.BlazorRAD.SmartForm>
    }
    else
    {
        <PageNotFound404></PageNotFound404>
    }
}
else
{
    <p>
        Loading...
    </p>
}

@attribute [Authorize]
@inherits ScopedServicesComponent
@code {
    [Parameter] public int ProductId { set; get; }

    TbProduct Editing { set; get; }

    bool Ready { set; get; } = false;

    ProductEditFormModel Form { set; get; } = new ProductEditFormModel();
    SelectOptionMethods SelectOptions { set; get; } = new SelectOptionMethods();

    protected override async Task OnInitializedAsync()
    {
        Editing = await Service.DB.TbProduct
            .Where(Q => Q.ProductId == ProductId)
            .Include(Q => Q.JobTitle)
            .FirstOrDefaultAsync();

        if (Editing != null)
        {
            SelectOptions[nameof(ProductEditFormModel.JobTitle)] = JobTitleSelectOptions;
            ResetForm();
        }
        Ready = true;
    }

    public async Task OnSubmit()
    {
        Editing.ProductName = Form.ProductName;
        Editing.Price = Form.Price;
        Editing.Stock = Form.Stock;
        Editing.JobTitleId = int.Parse(Form.JobTitle.Value);

        await Service.DB.SaveChangesAsync();
    }

    public void ResetForm()
    {
        Form = new ProductEditFormModel
        {
            ProductId = Editing.ProductId,
            ProductName = Editing.ProductName,
            Price = Editing.Price,
            Stock = Editing.Stock,
            JobTitle = new Accelist.BlazorRAD.SelectOption
            {
                Name = Editing.JobTitle.JobTitleName,
                Value = Editing.JobTitleId.ToString()
            }
        };
    }

    private Task<List<SelectOption>> JobTitleSelectOptions(string value)
    {
        var query = Service.DB.TbJobTitle.AsNoTracking();

        if (string.IsNullOrWhiteSpace(value) == false)
        {
            var search = value.Trim() + "%"; // starts with
            query = query.Where(Q => EF.Functions.Like(Q.JobTitleName, search));
        }

        return query.Select(Q => new SelectOption
        {
            Name = Q.JobTitleName,
            Value = Q.JobTitleId.ToString()
        }).ToListAsync();
    }
}
