﻿@page "/product/detail/create/{ProductID:int}"

<h1>Create New Product Detail</h1>


<p>
    <a class="btn btn-success" href="/product/detail/@ProductID" role="button">
        <i class="fas fa-backspace"></i>
        Return to Product Detail
    </a>
</p>

<Accelist.BlazorRAD.SmartForm TModel="ProductDetailCreateFormModel" Model="Form" Validate="true" Grid="true"
                              OnValidSubmit="OnSubmit">
</Accelist.BlazorRAD.SmartForm>


@attribute [Authorize]
@inherits ScopedServicesComponent
@code{
    [Parameter] public int ProductID { set; get; }
    public bool Submitting { set; get; } = false;
    public ProductDetailCreateFormModel Form { set; get; } = new ProductDetailCreateFormModel();

    public async Task OnSubmit()
    {
        Submitting = true;
        try
        {

            this.Service.DB.TbProductDetail.Add(new TbProductDetail
            {
                ProductId = ProductID,
                Note = Form.Note,
                Weight = Form.Weight
            });

            await this.Service.DB.SaveChangesAsync();
        }
        finally
        {
            Submitting = false;
        }

        Form = new ProductDetailCreateFormModel();
    }
}