﻿@page "/product/detail/edit/{ProductDetailID:int}"

@if (Ready)
{
    if (Editing != null)
    {
        <h1>Edit Product Detail Data</h1>

        <Accelist.BlazorRAD.SmartForm TModel="ProductDetailEditFormModel" @bind-Model="Form" Validate="true" Grid="true"
                                      OnValidSubmit="OnSubmit" >
        </Accelist.BlazorRAD.SmartForm>
    }
    else
    {
        <PageNotFound404></PageNotFound404>
    }
}
else
{
    <p>
        Loading...
    </p>
}

@attribute [Authorize]
@inherits ScopedServicesComponent
@code {
    [Parameter] public int ProductDetailID { set; get; }

    TbProductDetail Editing { set; get; }

    bool Ready { set; get; } = false;

    ProductDetailEditFormModel Form { set; get; } = new ProductDetailEditFormModel();

    protected override async Task OnInitializedAsync()
    {
        Editing = await Service.DB.TbProductDetail
            .Where(Q => Q.ProductDetailId == ProductDetailID)
            .FirstOrDefaultAsync();

        if (Editing != null)
        {
            ResetForm();
        }
        Ready = true;
    }

    public async Task OnSubmit()
    {
        Editing.Note = Form.Note;
        Editing.Weight = Form.Weight;
        
        await Service.DB.SaveChangesAsync();
    }

    public void ResetForm()
    {
        Form = new ProductDetailEditFormModel
        {
            ProductDetailID = Editing.ProductDetailId,
            ProductID = Editing.ProductId,
            Note = Editing.Note,
            Weight = Editing.Weight
        };
    }


}
