﻿@page "/product/detail/{ProductID:int}"

<h1>Product Detail From @ProductName</h1>

<p>
    <a class="btn btn-success" href="/product" role="button">
        <i class="fas fa-backspace"></i>
        Return to Product Header
    </a>

    <a class="btn btn-success" href="/product/detail/create/@ProductID" role="button">
        <i class="fas fa-plus-square"></i>
        Insert Product Detail
    </a>
</p>

<Accelist.BlazorRAD.PagedTable TRow="ProductDetailListItemViewModel" Query="GetQuery()">
    <PagedTableHeader>
        <th>Product Detail Id</th>
        <th>Product Id</th>
        <th>Note</th>
        <th>Weight</th>
        <th></th>
    </PagedTableHeader>
    <PagedTableRow>
        <td>@context.ProductDetailID</td>
        <td>@context.ProductID</td>
        <td>@context.Note</td>
        <td>@context.Weight</td>

        <Accelist.BlazorRAD.TableMenuColumn>
            <a class="btn btn-primary btn-sm" href="/product/detail/edit/@(context.ProductDetailID)">
                <i class="fas fa-edit"></i>
                Edit
            </a>

            <button class="btn btn-danger btn-sm" type="button" @onclick="e => Delete(context)">
                <i class="fas fa-times"></i>
                Delete
            </button>

        </Accelist.BlazorRAD.TableMenuColumn>
    </PagedTableRow>
</Accelist.BlazorRAD.PagedTable>

@*@attribute [Authorize(Roles = "Demo Administrator")]*@
@attribute [Authorize]
@inherits ScopedServicesComponent
@inject SweetAlertJSInterop Alert

@code {
    [Parameter] public int ProductID { set; get; }

    public string ProductName { set; get; }
    //bool Ready { set; get; } = false;

    PagedTable<ProductDetailListItemViewModel> Table { set; get; }

    protected override async Task OnInitializedAsync()
    {
        var getProductName = await Service.DB.TbProduct
            .AsNoTracking()
            .Where(Q => Q.ProductId == ProductID)
            .Select(Q => Q.ProductName)
            .FirstOrDefaultAsync();

        //Ready = true;

        ProductName = getProductName;
    }

    public IQueryable<ProductDetailListItemViewModel> GetQuery()
    {
        var getData = Service.DB.TbProductDetail
            .AsNoTracking()
            .Where(Q => Q.ProductId == ProductID)
            .OrderBy(Q => Q.ProductDetailId)
            .Select(Q => new ProductDetailListItemViewModel
            {
                ProductDetailID = Q.ProductDetailId,
                ProductID = Q.ProductId,
                Note = Q.Note,
                Weight = Q.Weight
            });

        //var getProductName = Service.DB.TbProduct
        //    .AsNoTracking()
        //    .Where(Q => Q.ProductId == ProductID)
        //    .Select(Q => Q.ProductName)
        //    .FirstOrDefaultAsync();

        //ProductName = getProductName.;

        return getData;
    }

    public async Task Delete(ProductDetailListItemViewModel item)
    {
        var yes = await Alert.Confirm(new SweetAlertParameters
        {
            Icon = SweetAlertIcons.Warning,
            Title = "Confirm delete?",
            Subtitle = $"Note name: {item.Note}. This action cannot be undone!",
        });

        if (yes)
        {
            await Service.DB.TbProductDetail.Where(Q => Q.ProductDetailId == item.ProductDetailID).DeleteFromQueryAsync();
            Alert.Toast(new SweetAlertParameters
            {
                Icon = SweetAlertIcons.Success,
                Title = $"Successfully deleted product detail: {item.Note}"
            }).GetHashCode();
        }
    }
}
